@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@layer base{
  html,body{
      font-family:'Open Sans',sans-serif
      @apply antialiased
  }
}



/* herosection kayıtalanıcss */

.flag-select{
  @apply !pb-0
}
.flag-select button{
  @apply h-14 border-2 border-gray-200 transition-colors bg-white rounded hover:border-primary-brand-color  
}
.flag-select button >span span:nth-child(2){
  @apply text-sm 
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
